html, body {
  margin: 20px;
  padding: 20px;
  font-family: Futura; 
  font-size: 30px;
  text-align: center;
  letter-spacing: 20px;
  color: black;
  background-image: url('skypic.jpg');
  background-size: auto;
  width: 600px; 
  height: 600 px; 
  background-attachment: relative;
  background-position: center;
}

h1{
  font-size:15px;
  letter-spacing: 10px;
}
 
canvas {
  display: block;
}
